*{
	margin:0px;
	padding:0px;
}

body{
    /*font-family: 'Plaster', cursive;*/
    font-family: 'Luckiest Guy', cursive;	
}

.container {
	width:100%;
}

.wraper{
	width:1200px;
	margin:auto;
}
.wraper2{
	width:1345px;
	margin:auto;
}
.dark{
	background-color:#31353d;
	color:white;
	
}
.light{
	background-color:#e9edf2;
	
}
.pblue{
	background-color:#0B4C5F;
}

/**class end**/




/**header & logo start here **/


#top_left{
	display:inline-block;
	/*border:1px solid red;*/
}
#top_right{
	float:right;
	
}


#top_div{
	height:40px;
	line-height:40px;
}

#logo_left{
	/*border:1px solid red;*/
	display:inline-block;
	float:left;
	
	
}
#logo_right{
	float:right;
	/*border:1px solid green;*/
	margin-top:10px;
}


#text_style{
	height:30px;
	border-radius:10px;
}
#button{
	background-color:green;
	color:white;
	padding:5px;
	border-radius:8px;
	width:70px;
	border:1px solid green;
	cursor:pointer;
}

#clear{
	clear:both;
}


/**header & logo end here **/



/**negationbar start here **/



#menu ul{
	list-style:none;
	z-index:10;              /**for over the slide image**/
}
#menu ul li{
	background-color:red;
	border:1px solid white;
	width:120px;
	height:35px;
	line-height:35px;
	text-align:center;
	float:left;
	position:relative;
	border-radius:8px;
}
#menu ul li a{
	text-decoration:none;
	color:white;
	display:block;
}
#menu ul li a:hover{
	background-color:green;
	border-radius:8px;
}
#menu ul ul{
	position:absolute;
	display:none;
}
#menu ul li:hover > ul
{
	display:block;
	
	
}
#menu ul ul ul{
	margin-left:120px;
	top:0px;
}


i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.darrow{
	font-size:14pt;
	position:absolute;
	top:1px;
	right:4px;
	
}
.rarrow{
	font-size:14pt;
	position:absolute;
	top:1px;
	right:4px;
	
}

/**negationbar end here **/



/**slide star here**/

#outerbox{
	width:1200px;
	overflow:hidden;
}


#sliderbox{
	position:relative;
	width:4800px;
	animation-name:Blood;
	animation-duration:20s;
	animation-iteration-count:infinite; /**animation:Blood 20s infinite**/
}

#sliderbox img
{
	float:left;
}

@keyframes Blood{
	0%
	{
	 left:0px;	
	}
	
	20%{
		left:0px;
	}
	
	25%
	{
		left:-1200px;
	}
	45%
	{
	  left:-1200px;	
	}
	50%
	{
		left:-2400px;
	}
	70%
	{
		left:-2400px;
	}
	75%
	{
		left:-3600px;
	}
	95%
	{
		left:-3600px;
	}
	100%
	{
		left:-4800spx;
	}
}


/**slide end here**/




/***middle part star here***/


h3{
	text-align:center;
	text-transform:uppercase;
}
p{
	text-align:justify;
}



#div_text{
	/*background-color:red;*/
	width:410px;
	margin:3px;
	display:inline-block;
	margin-top:15px;
	box-shadow:5px 5px 10px grey;
	padding:15px;
	float:left:
}

#text{
	background-color:red;
	text-align:center;
	height:35px;
	line-height:35px;
	font-size:24px;
	color:white;
	margin-top:100px;
	cursor:pointer;
}
#text2{
	background-color:red;
	text-align:center;
	height:35px;
	line-height:35px;
	font-size:24px;
	color:white;
	opacity:0.8;
	position:absolute;
	margin-top:100px;
	width:100%;
	cursor:pointer;
	
}
#text3{
	background-color:red;
	text-align:center;
	height:35px;
	line-height:35px;
	font-size:24px;
	color:white;
	opacity:0.8;
	position:absolute;
	margin-top:100px;
	width:100%;
	cursor:pointer;
	
}

#matter2{
	/*border:1px solid red;*/
	width:300px;
	height:300px;
	background-color:rgba(34,188,239,0.5);
	transition:transform 1s;
	position:relative;

}
#outerbox2:hover #matter2{
	transform:translateY(-300px) rotate(360deg);
}

#aside{
	width:320px;
	margin:5px 0px;
	padding:10px;
	border:2px solid red;
}

#matter{
	/*border:1px solid red;*/
	width:300px;
	height:300px;
	background-color:rgba(34,188,239,0.5);
	transition:transform 1s;
	
}
#matter3{
	/*border:1px solid red;*/
	width:300px;
	height:300px;
	transition:transform 1s;
	position:relative;
}

#outerbox2:hover #matter{
	transform:translateY(-300px);
}

#outerbox3:hover #matter3{
	transform:translateY(-300px) rotate(360deg);
}



#outerbox2{
	border:8px solid white;
	width:300px;
	height:300px;
	box-shadow:0px 0px 10px grey;
	margin:auto;
	overflow:hidden;
}
#outerbox3{
	border:8px solid white;
	width:300px;
	height:300px;
	box-shadow:0px 0px 10px grey;
	margin:auto;
	overflow:hidden;
}

#outerbox2 img{
	cursor:pointer;
	transition:transform 1s;
}
#outerbox3 img{
	cursor:pointer;
	transition:transform 1s;
}

#outerbox2:hover  img
{
	 transform:scale(1.5,1.5);  /* transform:rotate(15deg);/another effect/ transform:scale(1.5,1.5) rotate(15deg);  */   
	 	
}
#outerbox3:hover  img
{
	 transform:scale(-1.5,1.5) rotate(15deg);  /* transform:rotate(15deg);/another effect/ transform:scale(1.5,1.5) rotate(15deg);  */   
	 	
}

/***middle part end here***/



/**info start here**/

#bottom_div_left{
	border:1px solid red;
	display:inline-block;
	width:290px;
	margin-top:10px;
	
}
#bottom_div_left img{
	border:1px solid green;
	padding:5px;
	margin:5px;
	border-radius:5px;
}

#bottom_div_right{
	border:1px solid red;
	width:290px;
	float:right;
	margin-top:10px;
	display:inline-block;
	
}
#bottom_div_right img{
	border:1px solid green;
	padding:5px;
	margin:5px;
	border-radius:5px;
}

#bottom_div_center{
	border:1px solid red;
	width:290px;
	float:center;
	margin-top:10px;
	display:inline-block;
	margin-left:150px;
}
#bottom_div_center img{
	border:1px solid green;
	padding:5px;
	margin:5px;
	border-radius:5px;
}

/**info end here here**/





#footer{
	padding:20px;
	
	text-align:center;
	clear:left;
	background-color:dark;   /**#27ae60**/
}
