body{
	background:url(give1.JPG);
	background-size:100% 710px;
	padding-top:100px;
}

#nav{
	color:white;
	padding-top:30px;
	padding-left:60px;
	font-size:35px;
	background:red;
	width:750px;
	height:960px;
	margin:auto;
	border-radius:10px;
	opacity:.8;
}
#nav input{
	margin-top:30px;
	width:200px;
	height:40px;
	font-size:25px;
	border-radius:5px;
}

#nav input[name="email"]{
	
	width:400px;
}

#nav input[name="sex"]{
	margin-top:5px;
	width:25px;
	
}

#nav input[type="checkbox"]{
	margin-top:5px;
	width:25px;
	
}

#nav input[type="submit"]{
	margin-top:10px;
	width:150px;
	border-radius:50px;
	margin-left:280px;
	height:50px;
	background:blue;
	color:white;
	font-weight:bold;
	
}
